<html>
    <head>
        <title>Ola's blog</title>
    </head>
<body>
    <div>
        {% for post in posts %}
    <div>
        <p> publicado: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
        {% endfor %}

    <h1>Ola que hace</h1>
    <h2>I am Argentina </h2>
    <p>Soy el creador de esta pagina y me la mamas!</p>
    <p>GG Funciona soy un kpo!</p>
    <h1>Prueba de segundo titulo</h1>
    <br>
    <strong>Creador de este sitio: David Irusta </strong>
</body>
</html>